body{
    background-color: lightseagreen;
}

.ex1{
    outline-style: solid;
    outline-width: 10px;
    outline-color: crimson;
    outline-offset: 10px;
    width: 400px;
    justify-content: center;
    margin: auto;
    border: 3px solid black;
    background-color: bisque;
}