body{
    background-color: yellow;
}

.ex1{
    width: 400px;
    height: 300px;
    background-color: cadetblue;
}

.div1{
    width: 680px;
    background-color: blue;
}


.div2{
    max-width: 680px;
    background-color: deeppink;
}