body{
    background-color:darkcyan;
    color: white;
}

.ex1{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: palevioletred;
}

.ex2{
    text-decoration-line: overline;
    text-decoration-style: double ;
    text-decoration-color: blueviolet;
}

.ex3{
    text-decoration-line: line-through;
    text-decoration-style: wavy;
    text-decoration-color: coral;
}
