body{
    background-color: rgb(138, 43, 226, 0.9);
    justify-items: center;
}

h1{
    background-color: rgb(220, 20, 60, 0.7);
    color: burlywood;
    border: 6px solid olive;
    /* opacity: 0.5; */
}

h2{
    background-color: rgb(255, 255, 0.6);
    color: rgb(0, 183, 255);
    border: 4px solid rgb(0, 0, 0);
    /* opacity: 0.5; */
}

p{
    background-color: rgb(0, 139, 139, 0.4);
    color: rgb(255, 0, 212);
    border: 3px solid maroon;
    /* opacity: 0.5; */
}