body {
  background-color: beige;
}

/* Exemplos de justify-content: center */

.ex1 {
  display: flex;
  gap: 30px;
  justify-content: center;
  background-color: darkolivegreen;
}

.ex1 div {
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: yellow;
}

/* Exemplos de justify-content: flex-start */

.ex2 {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  background-color: darkolivegreen;
}

.ex2 div {
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: yellow;
}

/* Exemplos de justify-content: flex-end */

.ex3 {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  background-color: darkolivegreen;
}

.ex3 div {
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: yellow;
}

/* Exemplos de justify-content: space-around */

.ex4 {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  background-color: darkolivegreen;
}

.ex4 div {
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: yellow;
}

/* Exemplos de justify-content: space-between */

.ex5 {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  background-color: darkolivegreen;
}

.ex5 div {
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: yellow;
}


/* Exemplos de justify-content: space-evenly */

.ex6 {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  background-color: darkolivegreen;
}

.ex6 div {
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: yellow;
}

