body{
    background-color: rgb(110, 153, 209);
}

.link:link{
    color: bllinkck;    
    background-color: blueviolet;
}

.link:visited{
    color: crimson;
    background-color: brown;
}

.link:hover{
    color: pink;
    background-color: aquamarine;
}

.link:active{
    color: yellow;
    background-color: chartreuse;
}

/* * {
    cursor: url(/Aula4/img/cup-hot.png), auto;
} */

/* .link-btn:link, .link-btn:visited {
    background-color: midnightblue;
    color: white;
    padding: 20px 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
} 

.link-btn:hover, .link-btn:active{
    background-color: lightblue;

}

*/

.link-btn:link, .link-btn:visited {
    background-color: transparent;
    border: 3px solid midnightblue;
    color:lightblue;
    padding: 20px 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}

.link-btn:hover, .link-btn:active{
    background-color: rgb(120, 221, 255);
    color: white;
    border: 3px solid white;
    transition: .5s;
}
